body {
    font-family: 'Roboto', Arial, sans-serif;
}

.header {
    background-color: #1f2937;
    padding: 1rem 10rem 6rem;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4rem;
}

.header-logo {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 2rem
}

.header-body {
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 1rem 4rem;
}

.signup-info {
    flex: 1 0 300px;
}

.signup-info h1 {
    font-size: 48px;
    margin-bottom: 0;
}

.header-body img {
    min-width: 300px; /*Lets img to shrink*/
    border-radius: 8px;
    flex: 0 1 480px;
}

a {
    text-decoration: none;
    color: rgb(205, 205, 205);
}

button {
    color: white;
    background-color: rgb(59 130 246);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    padding: 8px 16px;
}

h2 {
    color: #1f2937;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

.upper-body {
    padding: 1rem 10rem;
}

.info-images {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
}

.info-images img {
    border: 4px solid #3b82f6;
    border-radius: 16px;
    width: 160px;
    height: 160px;
}

.info-images div {
    max-width: 160px;
    color: #707479;
}

.lower-body {
    padding: 1rem 10rem;
    background-color: #e5e7eb;
}